@basic_blue:#161C35;
@blue_light:#EDEFF6;
@basic_yellow:#FFD74B;
@special_yellow_dark:#FFBD30;
@special_blue_light:#DFE3F0;
@special_grey:#444444;
@basic_blue_light:#1D2E5B;
@special_red:#F47E7E;
@special_orange:#FF8D30;
@basic_white:#ffffff;
@basic_black:#000000;
@special_blue:#132576;
@bg_blue:#192144;
@bg_header: #182044;
@weekend: #ff5c23;
